function Main.main 3
push constant 16
push constant 2
call Math.multiply 2
pop local 1
push constant 256
push local 1
push constant 16
add
sub
pop local 0
push constant 30
push constant 1
push local 0
push local 1
call Game.new 4
pop local 2
push local 2
call Game.run 1
pop temp 0
push local 2
call Game.dispose 1
pop temp 0
push constant 0
return
